/* docs/stylesheets/matrix.css */
/* Base matrix styling */

.md-typeset table.matrix {
    border-collapse: separate;
    border-spacing: 6px;
}

.md-typeset table.matrix td {
    text-align: center;
    padding: 0.8em;
}

.md-typeset table.matrix td a {
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.matrix td.empty {
    opacity: 0.4;
}

table.matrix {
    border: 5px solid red;
}


